@font-face {
  font-family: "iconfont"; /* Project id 3708929 */
  src: url('iconfont.woff2?t=1665910393088') format('woff2'),
       url('iconfont.woff?t=1665910393088') format('woff'),
       url('iconfont.ttf?t=1665910393088') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 40px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuyi_xuesheng:before {
  content: "\e668";
}

.icon-fangke:before {
  content: "\e620";
}

